@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-Bd.woff2') format('woff2'),
		url('/fonts/TTNormsPro-Bd.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-Md.woff2') format('woff2'),
		url('/fonts/TTNormsPro-Md.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro ExtraBlack';
	src: url('/fonts/TTNormsPro-XBlk.woff2') format('woff2'),
		url('/fonts/TTNormsPro-XBlk.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-XBd.woff2') format('woff2'),
		url('/fonts/TTNormsPro-XBd.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-XLt.woff2') format('woff2'),
		url('/fonts/TTNormsPro-XLt.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-Lt.woff2') format('woff2'),
		url('/fonts/TTNormsPro-Lt.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-DmBd.woff2') format('woff2'),
		url('/fonts/TTNormsPro-DmBd.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-It.woff2') format('woff2'),
		url('/fonts/TTNormsPro-It.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-Blk.woff2') format('woff2'),
		url('/fonts/TTNormsPro-Blk.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-Th.woff2') format('woff2'),
		url('/fonts/TTNormsPro-Th.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-Bd.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-Bd.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Normal';
	src: url('/fonts/TTNormsPro-Normal.woff2') format('woff2'),
		url('/fonts/TTNormsPro-Normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-XLt.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-XLt.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded ExtraBlack';
	src: url('/fonts/TTNormsProExp-XBlk.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-XBlk.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-Md.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-Md.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-Lt.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-Lt.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded Normal';
	src: url('/fonts/TTNormsProExp-Normal.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-Normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro';
	src: url('/fonts/TTNormsPro-Rg.woff2') format('woff2'),
		url('/fonts/TTNormsPro-Rg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-XBd.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-XBd.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-Blk.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-Blk.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-DmBd.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-DmBd.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-Rg.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-Rg.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'TT Norms Pro Expanded';
	src: url('/fonts/TTNormsProExp-Th.woff2') format('woff2'),
		url('/fonts/TTNormsProExp-Th.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
