*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	display: block;
}

input,
button,
textarea,
select,
a {
	font: inherit;
	outline: none;
	background: none;
	border: none;
	color: inherit;
	text-decoration: none;
}
input {
	width: 100%;
}
button {
	cursor: pointer;
}

:target {
}

address {
	font-style: normal;
}
